<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>德州扑克桌面</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/player_container.css">
    <link rel="stylesheet" href="css/playing-cards.css">
    <link rel="stylesheet" href="css/ui.css">
    <script src="js/socket.js"></script>
</head>
<body>
    <script>
        console.log("ip: {{ ip }}$");
        username = '';
        const mysid = localStorage.getItem('mysid');
        let socket;

        if (mysid) {
            console.log('mysid:', mysid);
            socket = io("http://{{ ip }}:{{ port }}", {
                query: { 
                    "mysid": mysid
                }
            });
        } else {
            socket = io("http://{{ ip }}:{{ port }}");
        }

        socket.on('new_sid', (data) => {
            const newSid = data.mysid;
            console.log(`Received new SID: ${newSid}`);
            localStorage.setItem('mysid', newSid); // 保存新的 SID
            // flash
            socket.disconnect();
            location.reload();
            socket = io("http://{{ ip }}:{{ port }}", {
                query: { 
                    "mysid": mysid
                }
            });
        });

        socket.on('session_restored', (data) => {
            const player = data.player;
            if (player) {
                username = player.username;
                console.log(`恢复会话成功，用户名：${username}`);
                socket.emit("join", { username: username, chips: player.chips, alone: true });
            } else {
                document.dispatchEvent(new CustomEvent('NewUserLogin'));
            }
        });
    </script>

    <script src="js/utils.js"></script>
    <script src = "js/error.js"></script>
    <script src = "js/login.js"></script>
    <script src = "js/table.js"></script>
    <script src = "js/ui.js"></script>
    <script src = "js/players_info.js"></script>
</body>
</html>
